*~
.*.swp
CMake*
!CMakeLists.txt
Makefile
cmake_install.cmake
lib/*
src/ugdk/config/config.h
*.user
*.sdf
/ugdk.dir
/ipch
/Win32
/Release
/lib
*.suo
/deploy
/Debug
/ugdk_d.dir
/test/bin
/test/ipch
/test/lib/ugdk.lib
/test/lib/gtest.lib
/test/lib/gtest_main.lib
/test/*.dll
/test/*.exe
/test/tmp
*.deb
/test/tmp
*.filters
*.opensdf
*.sln
*.vcxproj
doc/doxy
src/generated/*_wrap.cc
src/generated/*.py
src/generated/*.rule
/script_customtest.dir