*~
.*.swp
!CMakeLists.txt
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
src/ugdk/common/config.h
*.user
*.sdf
/ipch
/Win32
/x64
/lib
*.suo
/deploy
/Release
/Debug
*.dir
*.filters
*.opensdf
*.sln
*.vcxproj
*.deb
/test/lib
doc/doxy
src/generated/*_wrap.cc
src/generated/*.py
src/generated/*.rule
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
install_manifest.txt
/modules.cc
*.a
/build
/build-mingw
*.exe
*.pdb

*.ilk
*.cache

/src/ugdk/system/config.h
/externals/sdl2-build/
/externals/Ogre/include/OgreBuildSettings.h
/externals/Ogre/lib/
/externals/Ogre/pkgconfig/


CTestTestfile.cmake
