*~
.*.swp
!CMakeLists.txt
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
src/ugdk/config/config.h
*.user
*.sdf
/ipch
/Win32
/x64
/lib
*.suo
/deploy
/Release
/Debug
/*.dir
/*.filters
*.opensdf
/*.sln
/*.vcxproj
doc/doxy
src/generated/*_wrap.cc
src/generated/*.py
src/generated/*.rule
/script_customtest.dir
/examples/asteroids-script/asteroids
/examples/asteroids-script/Release
/examples/asteroids-script/Debug
examples/asteroids-script/data/scripts/ugdk/*
