/* ::::: http://yui.yahooapis.com/2.6.0/build/container/assets/skins/sam/container.css ::::: */

/* ::::: http://creativecommons.org/includes/deed3.css ::::: */

/* ::::: http://creativecommons.org/includes/total.css ::::: */

body { background-color: rgb(45, 45, 45); font: 13px/16px arial,verdana,sans-serif; text-align: center; color: rgb(204, 204, 204); margin: 0pt; padding: 0pt; }
h3 { font-size: 1.25em; }
#cc-logo { display: none; }
#deed { background: none repeat scroll 0% 0% rgb(66, 66, 66); border-top-left-radius: 10px; border-top-right-radius: 10px; width: 768px; padding: 10px 0pt; color: rgb(51, 51, 51); margin: 20px auto; text-align: center; }
#deed-head { width: 750px; height: 134px; margin: 0pt auto; position: relative; }
#deed-head h1 { margin: 0pt; }
#deed-head span, #deed-foot span { display: none; }
#cc-link a { display: block; position: absolute; top: 0pt; left: 0pt; width: 750px; height: 80px; }
.green #deed-head { background: url('deed-head-green.png') no-repeat scroll 0pt 0pt transparent; }
#deed-main { background-color: rgb(255, 255, 255); width: 750px ! important; padding: 20px 0pt; margin: 0pt auto; text-align: left; border-bottom: 1px solid rgb(80, 80, 80); }
#deed-newer a, #deed-main a { color: rgb(17, 17, 17); text-decoration: underline; font-weight: bold; }
#deed-main-content { position: relative; margin: 0pt 15px; }
#deed-license { text-align: center; margin-top: 0px; margin-bottom: 50px; font-weight: bold; color: rgb(255, 255, 255); }
#deed-license h2 { margin: 0pt; font-size: 1.46em; padding-top: 90px; line-height: 1.1; }
#deed-main img { float: right; border: 1px solid rgb(136, 136, 136); margin-bottom: 5px; }
#deed-disclaimer { position: relative; width: 500px; margin: 5px auto 0pt; border: 1px solid rgb(204, 204, 204); background: none repeat scroll 0% 0% rgb(241, 241, 241); border-radius: 5px 5px 5px 5px; color: rgb(119, 119, 119); overflow-y: hidden; }
#deed-disclaimer .summary { padding: 10px; border-bottom: 1px solid rgb(204, 204, 204); }
#deed-disclaimer .disclaimer { padding: 4px 6px; text-align: right; }
#deed-disclaimer a { color: rgb(90, 90, 90); }
#deed-rights { background: url('freedoms-header.png') no-repeat scroll 0pt 0pt transparent; padding: 0pt; margin-bottom: 30px; min-height: 11em; }
#deed-conditions { background: url('limitations-header.png') no-repeat scroll 0pt 0pt transparent; padding: 0pt; margin-bottom: 20px; }
#deed-conditions ul { margin-top: 22px; }
#deed-understanding { padding: 0pt; margin-top: 0px; margin-bottom: 33px; background: url('understanding-header.png') no-repeat scroll 0pt 0pt transparent; }
#deed-understanding li.license { padding-left: 0px; }
#deed-understanding ul, #deed-understanding-zero ul { list-style: none outside none; margin-top: 2em; }
#deed-understanding ul ul, #deed-understanding-zero ul ul { list-style-type: disc; margin-top: 1em; }
a { color: rgb(255, 252, 9); text-decoration: none; }
a:hover { text-decoration: underline; }
li strong { color: rgb(34, 34, 34); }
li { margin-bottom: 8px; }
ul.license-properties { width: 600px; list-style: none outside none; }
li.license { list-style: none outside none; padding-bottom: 25px; padding-left: 70px; padding-top: 5px; min-height: 3.5em; }
ul.understanding li.license { min-height: inherit; padding-bottom: 15px; }
li.license p { margin: 0pt; padding: 0pt; }
li.license-hidden { list-style: none outside none; }
li.share, li.remix, li.commercial { padding-left: 0pt; padding-bottom: 0pt; min-height: 1em; }
li.by { background: url('by.png') no-repeat scroll 0pt 0pt transparent; }
li a { color: rgb(0, 0, 255); text-decoration: none; }
h3 { padding-top: 10px; padding-left: 10px; margin-top: 1.75em; margin-bottom: 1.25em; }
#libre { position: absolute; right: 25px; top: 36px; width: 150px; height: 250px; }
#libre img, #libre a, #librepd img, #librepd a { border: medium none ! important; margin-top: 2px; }
div.bd p { color: rgb(17, 17, 17); padding-bottom: 10px ! important; font-size: 0.92em; margin: 0pt ! important; }
#work-attribution-container { border: 1px solid rgb(213, 213, 213); margin-top: 10px; padding: 7px; }
#work-attribution-container input { width: 93%; border: 1px solid rgb(136, 138, 133); height: 1.9em; }
#attribution_help img, #citation_help img { border: 0pt none; margin: 0pt; float: none; }
div#languages { width: 90%; margin: 1.5em auto; text-align: center; overflow: auto; background-color: rgb(55, 55, 55); padding: 0.5em; border-radius: 5px 5px 5px 5px; font-size: 0.9em; }
div#languages a { color: rgb(204, 204, 204); }
.help_panel { display: none; }
#help_publicity_rights, #help_endorsement, #help_citation_help, #help_who_is_affirmer, #help_disclaimer { visibility: hidden; height: 0pt; }
/* ::::: http://creativecommons.org/includes/jurisdictions.css ::::: */

